!!!
%html{ lang: "en" }
  %head
    %meta{ "http-equiv" => "content-type", content: "text/html; charset=utf-8" }
    %meta{ "http-equiv" => "content-language", content: "en-us" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ name: "description", content: ""}
    %meta{ name: "keywords", content: "" }
    %meta{ name: "title", content: "" }

    %title
      Sass Conf 2015 Pattern Guide

    %link{ href: "tmp/stylesheets/styles.css", media: "screen", rel: "StyleSheet", type: "text/css" }
    %link{ href: "tmp/stylesheets/structure.css", media: "screen", rel: "StyleSheet", type: "text/css" }

    /[if lt IE 9]
      %script{ src: "http://html5shiv.googlecode.com/svn/trunk/html5.js" }

    %body
      %h1
        Sass Conf 2015 Pattern Guide
      %h2
        Color Palette
        %figure
          .circle{ style: "background-color: #000" }
          %figurecaption
            = "#000"
      %h2
        Typography
      .header--1
        The quick brown fox jumps over the lazy dog
      .header--2
        The quick brown fox jumps over the lazy dog
      .header--3
        The quick brown fox jumps over the lazy dog
      .header--4
        The quick brown fox jumps over the lazy dog

      %h2
        Buttons

      %button
        Button

      %button{ disabled: "disabled" }
        Button

      %h2
        Forms
      %h3
        Radio
      %fieldset.fieldset__radio.fieldset__radio--tall
        %label.field--radio.field--radio--tall{ for: "radio1" }<>
          %input.field--radio__input{ checked: true, type: "radio", id: "radio1", name: "radio" }<>
          %span.field--radio__button<>
          %span.field--radio__label<>
            Styled Radio Button
        %label.field--radio.field--radio--tall{ for: "radio2" }<>
          %input.field--radio__input{ type: "radio", id: "radio2", name: "radio" }<>
          %span.field--radio__button<>
          %span.field--radio__label<>
            Styled Radio Button

      %h3
        Check Box
      %fieldset.fieldset__checkbox.fieldset__checkbox--tall
        %label.field--checkbox.field--checkbox--tall{ for: "checkbox1" }<>
          %input.field--checkbox__input{ checked: true, type: "checkbox", id: "checkbox1", name: "checkbox" }<>
          %span.field--checkbox__button<>
          %span.field--checkbox__label<>
            Styled Check Box
        %label.field--checkbox.field--checkbox--tall{ for: "checkbox2" }<>
          %input.field--checkbox__input{ checked: false, type: "checkbox", id: "checkbox2", name: "checkbox" }<>
          %span.field--checkbox__button<>
          %span.field--checkbox__label<>
            Styled Check Box

      %h2
        Toggle (check box)
      %fieldset.fieldset__toggle.fieldset__toggle--tall
        %label.field--toggle.field--toggle--tall{ for: "toggle1" }<>
          %input.field--toggle__input{ checked: true, type: "checkbox", id: "toggle1", name: "toggle" }<>
          %span.field--toggle__button<>
          %span.field--toggle__label<>
            iOS Toggle Style Check Box
        %label.field--toggle.field--toggle--tall{ for: "toggle2" }<>
          %input.field--toggle__input{ checked: false, type: "checkbox", id: "toggle2", name: "toggle" }<>
          %span.field--toggle__button<>
          %span.field--toggle__label<>
            iOS Toggle Style Check Box

      %h2
        Icons

      .icon.icon--down-arrow

      %h2
        Modules

      %h2
        Animations

      .animation-demo.animation--fade-out
        Fade Out
