%left-icon {
  position: relative;

  &:before {
    display: block;
    left: 0;
    height: 16px;
    pointer-events: none;
    position: absolute;
    width: 16px;
  }
}

%right-icon {
  position: relative;

  &:after {
    display: block;
    height: 16px;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 16px;
  }
}
