%button {
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.2em;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  height: 40px;
  line-height: 40;
  margin: 0;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: none;
  vertical-align: middle;
}
