%button {
  @extend %text--light;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  background-color: white;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: none;
  vertical-align: middle;
}
