// Mixin for a block-styled button. The border, background color, text
// color and hover state may be defined.
//
// Cutomizable options:
//
// $background-color - hex value
// $border-color     - hex value or "none"
// $color            - hex value
// $hover            - hex value
@mixin button($background-color, $border-color, $color, $hover) {
  @extend %button;
  background-color: $background-color !important;
  border-color: $border-color !important;
  color: $color !important;

  &:active,
  &:hover {
    background-color: $hover !important;
    border-color: $hover !important;
  }

  &.is-disabled,
  &[disabled]{
    cursor: default;
    opacity: 0.2;
    pointer-events: none;
  }
}

@import "lib/block";
