@import "icons/extends";
@import "icons/mixins";
@import "icons/icons";

[class^="icon--"],
[class*=" icon--"] {
  background-repeat: no-repeat;
  background-size: cover;
  &::before,
  &::after {
    background-size: cover;
    content: "";
    pointer-events: none;
  }
}
