// This file is for pattern guide structure only.
// Changes here will not automatically be included in any other project.

.circle {
  background-color: #fff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

figurecaption {
  color: #000;
  font-size: 12px;
  text-align: center;
}

.animation-demo {
  background: #ddd;
  padding: 1em;
  margin: 1em auto;
  text-align: center;
  width: 50%;
}
