%heading--1 {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

%heading--2 {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

%text--light,
%text--regular {
  font-family: Helvetica, Arial, sans-serif;
}

%text--semi-bold {
  font-family: Helvetica, Arial, sans-serif;
}

%text--bold {
  font-family: Helvetica, Arial, sans-serif;
}
